/*
	GENERIC STYLES USED BY ALL PAGES
*/
:root {
	--color-border: #202020;
	--color-content-ancillary: gray;
	--color-content-background: white;
	--color-content-background-inset: #f0f0f0;
	--color-content-text: black;
	--color-link: #60b0ff;
	--color-link-highlight: #80c0ff;
	--color-page-background: #404040;
	--color-theme: #406080;
	--color-theme-border: #304050;
	--color-theme-highlight: #507090;
	--color-theme-text: white;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a:link:not([class]) {
	color: var(--color-link);
	transition: 0.25s color;
}

a:link:not([class]):hover {
	color: var(--color-link-highlight);
}

a:visited:not([class]) {
	color: var(--color-theme);
}

a:visited:not([class]):hover {
	color: var(--color-theme-highlight);
}

body {
	align-items: center;
	background-color: var(--color-page-background);
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 0;
	position: fixed;
	top: 0;
	right: 0;
}

h1, h2, h3, h4, h5 {
	font-family: Arial, Helvetica, sans-serif;
}

.btn {
	align-items: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-flex;
	font-family: Arial, Helvetica, sans-serif;
	height: 32px;
	padding: 2px 10px;
	text-decoration: none;
	transition: 0.25s background-color, 0.25s border-color, 0.25s color;
}

.btn[disabled] {
	pointer-events: none;
}

.btn--inset {
	background-color: var(--color-content-background-inset);
	border: solid 2px var(--color-theme-border);
	color: var(--color-theme-border);
	height: auto;
}

.btn--inset:hover {
	background-color: var(--color-content-background);
	border-color: var(--color-theme-highlight);
	color: var(--color-theme);
}

.btn--nav {
	border: solid 2px var(--color-theme);
	border-radius: 18px;
	color: var(--color-theme);
	font-weight: bold;
	height: 38px;
}

.btn--nav:hover {
	background-color: var(--color-theme-highlight);
	border-color: var(--color-theme-border);
	color: white;
}

.btn--nav[disabled] {
	border-color: gray;
	color: silver;
}

.btn--theme {
	background-color: var(--color-theme);
	color: var(--color-theme-text);
}

.btn--theme:hover {
	background-color: var(--color-theme-highlight);
}

.container {
	flex-basis: 100%;
}

.page-footer, .page-header {
	align-items: center;
	background-color: var(--color-theme);
	border-bottom: solid 4px var(--color-theme-border);
	border-top: solid 4px var(--color-theme-border);
	color: var(--color-theme-text);
	font-family: Arial, Helvetica, sans-serif;
	gap: 4px;
	padding: 0 20px;
	width: 100%;
}

.page-footer {
	display: flex;
	font-size: 0.75rem;
	justify-content: flex-end;
	height: 32px;
}

.page-footer a:link {
	text-decoration: none;
}

.page-header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	height: 64px;
	justify-items: center;
}

.quick-search {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: flex-end;
	width: 180px;
}

.quick-search > input {
	background-image: url('../images/search.png');
	background-position: right 2px center;
	background-repeat: no-repeat;
	border: solid 2px var(--color-theme-border);
	border-radius: 12px;
	color: gray;
	height: 24px;
	padding: 2px 20px 2px 0px;
	transition: 0.5s width;
	width: 24px;
}

.quick-search:hover > input, .quick-search > input:focus {
	padding-left: 12px;
	width: 100%;
}

/* UTILITY CLASSES */
.button-holder {
	display: flex;
	gap: 20px;
}

.collapse-vertical {
	max-height: 0px;
	overflow: hidden;
	transition: 1s max-height;
}

.collapse-holder:hover .collapse-vertical {
	max-height: 500px;
}

.link-img {
	margin: 4px;
	text-decoration: none;
}

.link-img img {
	height: 38px;
	width: 38px;
}

.link-img--small img {
	height: 20px;
	width: 20px;
}

@media screen and (max-width: 700px) {
	.page-header {
		gap: 16px;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		height: auto;
		padding: 10px 10px;
	}

	.page-header > h1 {
		grid-column: 1 / span 2;
		grid-row-start: 1;
	}

	.page-header > *:first-child {
		grid-row-start: 2;
	}

	.quick-search > input {
		width: 100%;
	}
}

@media screen and (max-width: 300px) {
	.page-header > h1 {
		font-size: 1.75rem;
	}

	.quick-search {
		width: auto;
	}
}